input[type=range]::-webkit-slider-thumb {
    background: #0d0;
}

input[type=range]::-moz-range-thumb {
    background: #0d0;
}

input[type=range]:hover::-webkit-slider-thumb {
    background: #0f0;
}

input[type=range]:hover::-moz-range-thumb {
    background: #0f0;
}